*, 
*::before,
*::after {
    box-sizing: border-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body { 
    margin: 0;

    --clr-one: #ffc729;
    --clr-two: #337def;
}
.game,
.game-main,
.game-correct,
.buttons,
.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    width: 100vw;
    height: 100vh;

    background-color: rgb(240, 242, 244);

    
}

.game-ctr {
    background-color: var(--clr-two);
    
    padding: 1em;
    border-bottom-left-radius: 2em;
    box-shadow: 1px 1px 1px black,
    -1px -1px -1px black;

    width: 25vw;
    height: 50vh;

    position: relative;

}

.game-main {    
    flex-direction: column;
    gap: 1em;

    margin-top: 2em;
}

.game-correct {
    text-align: center;
    color: white;

    width: 15vw;
    height: 15vh;

    background-color: yellow;
    
    font-size: 3em;

    border: none;
}

.game-question {
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;

    color: white;
}

.input {

}

.input > input {
    font-size: 1.7em;
    text-align: center;

    border: none;

    padding: 0.6em;
}

.input > input:focus {
    outline: 2px solid var(--clr-one);

    color: tomato;
    background-color: lightyellow;
}

.buttons {
    position: absolute;
    top: 0;
    transform: translate(13%, -100%);

    gap: 0.3em;

}

.btn {  
    padding: 0.3em;  
    font-size: 1.5em;
    
    border: none;

    background-color: var(--clr-one);

    transition: all 0.15s ease-in-out;
}

.btn:hover {
    transform: scale(1,1.2);

    border-radius: 0.2em;
    
    box-shadow: 1px 1px 1px black;

    cursor: pointer;
    color: white;

}

.reset:hover {
    background-color: red;
}

.submit:hover {
    background-color: green;
}

.skip:hover {
    background-color: lightsalmon;
}

.reset {
    transition: all 0 ease-in;
}
.reset:active {
    background-color: darkred;
    
}

.after-submit {
    text-align: center;
    color: var(--clr-one);

    font-size: 1.5em;
    font-weight: bold;
}

.score {
    padding: 1em;
    font-size: 1.2em;
    font-weight: bold;
    
    color: white;

    display: flex;
    justify-content: space-between;
}